<section class="section-index-a">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="form-group-id" class="form-group">

                    <small id="helpId">ความต้านทาน</small>
                    <label for=""></label>
                    <input id="ohm" type="text" class="form-control" placeholder="Resistance"><br>

                    <small id="helpId">กระแสไฟ</small>
                    <label for=""></label>
                    <input id="amp" type="text" class="form-control" placeholder="Ampere"><br>
                    <small id="helpId">แรงดันไฟฟ้า</small>
                    <label for=""></label>
                    <input id="volt" type="text" class="form-control" placeholder="Voltage"><br>
                    <div class="allbuttons">
                        <button id="summitbutton" type="submit" class="btn btn-primary">
                            คำนวน
                        </button>
                        <button id="Resetbutton" type="reset" class="btn
                                btn-primary">
                            ล้างค่า
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="imgbackground">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">แจ้งเตือน</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                กรุณากรอกข้อความให้ครบ
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>