<center>
    <div class="container-fluid">
        <h3>สูตรคำนวนของผลการค้นหาOhm's law</h3>
    </div>

    <div class="container-fluid pb-5">

            <img src="https://cdn1.byjus.com/wp-content/uploads/2020/08/Ohms-Law-5.png" class="img-thumbnail" alt="Responsive image">

    </div>
</center>